body,
html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #645e5e;
	touch-action: none;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #645e5e;
	cursor: pointer;
	filter: sepia(20%);
}
